* {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}
/* --------------------Styles générales---------------------- */
/* Classe de fonts */
.extraBold {
  font-weight: bolder;
}
.italic {
  font-style: italic;
}
.display {
  /* display: flex!important; */
  transform: translate(0, 75px);
}
a {
  text-decoration: none;
  color: black;
}
:root {
  --scale-cartes: calc(25vw - 24px);
  --height-nav: 75px;
}
html {
  scroll-behavior: smooth;
}
:target:before {
  content: "";
  display: block;
  height: var(--height-nav);
  margin: 0 0 0;
}
header {
  top: 0;
  position: sticky;
  z-index: 3;
}
svg {
  user-select: none;
}
/* --------------------Styles navigation---------------------- */
nav {
  height: var(--height-nav);
  background-color: #55c2b3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo svg,
.selecteurLangue img {
  height: auto;
  width: 50px;
  transform: translateY(5px);
}
nav .logo,
nav .langues {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
nav .langues .selecteurLangue,
nav div.menuBurger img {
  padding: 0px 6px;
  border-radius: 100px;
  transition: border-radius 0.2s, background-color 0.5s;
  cursor: pointer;
}
nav .langues .selecteurLangue:hover,
nav div.menuBurger img:hover {
  background-color: #1e6c61;
}
nav div.liens {
  flex-grow: 4;
  font-size: 2rem;
}
nav div.liens > ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
  list-style: none;
}

nav div.menuBurger {
  display: none;
}
nav .langues h3 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

nav .langues img {
  margin-bottom: -8px;
}
.languesDisponibles {
  position: absolute;
  background-color: #55c2b3;
  border-radius: 0 0 10px 10px;
  transform: translate(0px, -200px);
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
  width: 100px;
  z-index: -1;
  transition: 0.6s;
}
nav .liens ul li {
  display: flex;
  flex-flow: column;
  align-items: center;
}
nav .liens ul li div.barreNavAnime {
  width: 5px;
  height: 5px;
  background-color: black;
  transition: 0.5s;
}
nav .liens ul li a:hover ~ div.barreNavAnime {
  width: 100%;
}
/* --------------------Styles générales main---------------------- */
main section:first-child {
  height: calc(100vh - var(--height-nav));
  overflow: hidden;
}
main section:nth-child(odd) > h2 {
  text-align: right;
}
main section > h2 {
  font-weight: 800;
  font-style: italic;
  font-size: 4rem;
  margin: 0.5em;
}
/* --------------------Styles section vitrine---------------------- */
#presentation {
  background-image: url(../images/backgrounds/ImageAccueil.jpg);
  background-size: cover;
}
#presentation div.elementsPresentation {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr 4fr 2fr 1fr;
  grid-template-areas:
    "."
    "titreAccueil"
    "navigationSecondaire"
    ".";
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
#presentation div.elementsPresentation div.titre {
  grid-area: titreAccueil;
  margin-top: 15%;
  justify-self: center;
}
#presentation div.elementsPresentation div.titre h2 {
  font-weight: 200;
  font-size: 2em;
  text-shadow: 1px 1px 2px black;
}
#presentation div.elementsPresentation div.titre svg {
  height: 50vh;
  margin-bottom: -2em;
}
#presentation div.elementsPresentation div.navSecondaire {
  grid-area: navigationSecondaire;
  display: flex;
  justify-content: space-between;
}
#presentation div.elementsPresentation div.navSecondaire a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55c2b3;
  border-radius: 37px;
  color: white;
  padding: 0.5rem;
  width: 15vw;
  margin: 10px;
  box-shadow: 0px 2px 5px black;
  transition: 0.2s;
}
#presentation div.elementsPresentation div.navSecondaire a:hover {
  background-color: #1e6c61;
}
/* --------------------Styles section localistaion---------------------- */
#lieu iframe {
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 0px;
  margin: auto;
  width: 75%;
  height: 50vh;
  /* min-width: 450px; */
  transition: 0.4s;
}
#lieu iframe:hover {
  box-shadow: 0px 5px 10px;
}
#lieu p {
  font-size: 2em;
  color: black;
  text-align: center;
  margin: 1.5em;
}
/* --------------------Styles section horaire---------------------- */
#heures div.heuresOuvertureContainer {
  text-align: center;
  font-size: 2em;
}
#heures div.heuresOuvertureContainer div.jour {
  margin: 20px 0;
}
/* --------------------Styles footer---------------------- */
footer {
  background-color: #1e6c61;
  display: flex;
  text-align: center;
}
footer > div div.informations p {
  margin-top: 10px;
}
footer div div.informations p img {
  width: 1em;
  margin-right: 0.5em;
}
footer > div {
  margin: 20px 0px;
  width: 33vw;
}
footer h2 {
  color: white;
}
/* --------------------------------------------------------//
//--------------------Styles tablette----------------------//
//---------------------------------------------------------*/
@media screen and (max-width: 768px) {
  /* --------------------Styles navigation---------------------- */
  /* Styles menu burger */
  nav div.liens {
    display: none;
  }
  nav div.menuBurger {
    text-align: center;
    display: block;
    max-height: 50px;
    width: 50px;
    flex-grow: 1;
  }
  nav div.menuBurger img {
    cursor: pointer;
    border-radius: 100px;
    padding: 0px 5px;
    height: 50px;
    width: 50px;
  }
  nav div.menuBurger div {
    position: absolute;
    transform: translate(-1000px, 0px);
    transition: 0.5s;
    background-color: #55c2b3;
    width: 75%;
    border-radius: 0 0 10px 0;
  }
  nav div.menuBurger div ul li a {
    display: block;
    padding: 2em 0;
    transition: 0.2s;
  }
  nav div.menuBurger div ul li a:hover {
    background-color: #1e6c61;
  }
  /* --------------------Styles main---------------------- */
  main section > h2 {
    font-weight: 800;
    font-size: 2.8rem;
    margin: 0.5em;
  }
  /* --------------------Styles vitrine---------------------- */
  #presentation div.elementsPresentation div.navSecondaire a {
    width: 30vw;
  }
}
/* --------------------------------------------------------//
//--------------------Styles mobile----------------------//
//---------------------------------------------------------*/
@media screen and (max-width: 576px) {
  /* --------------------Styles nav---------------------- */
  #presentation div.elementsPresentation div.navSecondaire {
    flex-flow: column;
    align-items: center;
  }
  /* --------------------Styles main---------------------- */
  main section > h2:nth-child(1) {
    font-size: 2rem;
    text-align: center;
  }
  /* --------------------Styles localisation---------------------- */
  #lieu p {
    font-size: 1.5em;
    margin: 1em;
  }
  /* --------------------Styles horaire---------------------- */
  #heures .heuresOuvertureContainer .jour {
    font-size: 0.7em;
  }
  /* --------------------Styles footer---------------------- */
  footer {
    flex-flow: column;
    justify-content: center;
  }
  footer > div {
    width: auto;
  }
}
